<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>嘉惠電力股份有限公司 ChiaHui CMS System</title>
    <link href="/favicon.jpeg" rel="shortcut icon" type="image">
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("header.ejs") %>
    <%- include("navbar.ejs") %>
    <div id="div-contentarea">
        <%- include("breadcrumbs.ejs") %>
        <%- include("left-nav.ejs") %>
    </div>
</body>
<%- include("footer.ejs") %>
</html>
