<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>嘉惠電力股份有限公司 ChiaHui CMS System</title>
    <link href="/favicon.jpeg" rel="shortcut icon" type="image">
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <%- include("header.ejs") %>
    <%- include("navbar.ejs") %>
    <div id="div-contentarea">
        <%- include("breadcrumbs.ejs") %>
        <%- include("left-nav.ejs") %>
    </div>
</body>
<%- include("footer.ejs") %>
</html>
